body{
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
	background-color: white;
} 

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
	font-weight: 400;
}

header{
	background: darkred;
	color: white;
	padding-top:30px;
	min-height: 70px;
	border-bottom: white 5px solid;
}

header a{
	color: white;
	text-decoration: none;
	font-size:16px;
}

header ul{
	padding: 0;
	margin: 0;
}

header li{
	float:left;
	display:inline;
	padding: 0 20px 0 20px;
}

header #logo{
	float:left;
}

header #logo h1{
	margin:0;
}

header nav{
	float:right;
	margin-top: 10px;
}

header .highlight, header .current{
	color: #f6b93b;
	font-weight: bold;
}

header a:hover{
	transition: 0.3s;
	color:rgb(153, 230, 255);
}

#showcase{
	min-height:600px;
	background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(32, 32, 32, 0.8)),
	url('images/backgroundimage.jpg');
	backdrop-filter: blur(100px);
	text-align:center;
	color: white;
}
#showcase h1{
	margin-top:50px;
	font-size:100px;
	margin-bottom:10px;
}

#showcase h3{
	margin-top:100px;
	margin-bottom:0px;
}

#about{
	text-align: center;
	margin: 20px 70px 0px 70px;
}

#about h2{
	font-weight:400;
}
#about h1{
	font-weight: 900;
	font-size: 50px;
}

#boxes{
	margin-top: 0px;
}

#boxes .box{
	float:left;
	text-align: center;
	width: 30%;
	padding: 10px;
}

#boxes .box img{
	width: 30%;
	align-items: center;
	padding-bottom: -20px;
}

#boxes .box h3{
	color: darkred;
	font-weight: bold;
	font-size: xx-large;
}

.applybutton {
	color: darkred !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #f6b93b;
	padding: 20px;
	border: 4px solid darkred !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}

.applybutton:hover {
	color: #ffffff !important;
	background: darkred;
	border-color: white !important;
	transition: all 0.4s ease 0s;
}

footer{
	padding:20px;
	margin-top:5px;
	color:black;
	background-color: #f6b93b;
	text-align: center;
}

#apply{
	padding:15px;
	background:darkred;
	text-align: center;
	color: white;
}

#apply h1{
	font-size: xx-large;
}
